/*Общие стили*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  width: 1200px;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;;
  background-color: #FFFFFF;
}


.favorites-count {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  position: absolute;
  width: 11px;
  height: 10px;
  background-color: #7DB54F;
  background-image: url("../images/icon/like.svg")
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;;
  background-color: #FFFFFF;
  text-decoration: none;
}

.button-hotel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.hero {
  background-image: url("../images/hero.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #83B3D3;
}

.hero img {
  width: 100%;
}

.advantages b {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reasons {
  color: #333333;
  text-align: center;
}


.advantages-list {
  list-style: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-inverted .advantages-description {
  color: #FFFFFF;
}

.advantages-item {
  background-color: #83B3D333;
}

.advantages-inverted {
  color: #FFFFFF;
  background-color:#82B3D3;
 }



.terms b {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.terms p {
  color: #333333;
  text-align: center;
}

.terms-item p {
  font-size: 18px;
  line-height: 21px;
}

.terms-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.terms-list {
  list-style: none;
}

.seach b {
  display: block;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.seach p {
  color: #333333;
  text-align: center;
}

.button-search-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.subscribe {
  color: #000000;
}

.subscribe-main {
  color: #FFFFFF;
  background-image: url("../images/Subscribe.jpg");
  background-repeat: no-repeat;
  background-color: #83B3D3;
  width: 1200px;
  height: 415px;
}


.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe p {
  text-align: center;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.footer-social-list {
  list-style: none;
}

.footer-contacts-phone {
  text-decoration: none;
  color: #000000;
}

.catalog-hotels {
  background-image: url("../images/filter.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color:  #83B3D3;
  color: #FFFFFF;
}

.catalog-hotels-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.breadcrumbs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hotels h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-list {
  list-style: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.stars {
  background-image: url("../images/icon/star.svg");
}

.star-four {
  height: 17px;
  width: 72px;
  background-image: center center;
}

.star-three {
  height: 17px;
  width: 54px;
  background-image: center center;
}

.star-two {
  height: 17px;
  width: 36px;
  background-image: center center;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.hotel-card-button {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.favorites-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.raiting-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination {
  list-style: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #F2F2F2;
}
